<a href="https://colab.research.google.com/github/brunatoloti/data-science-do-zero/blob/main/Machine%20Learning/K-Means/kmeans_lista_exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KMeans - Exercícios

<font color=blue><b> Data Science do Zero</b></font><br>
 www.minerandodados.com.br

1) Importe as bibliotecas para visualização de dados e clustering.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

2) Leia a base de dados **iris** e crie um Dataframe.

In [2]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

3) Armazene apenas as **features e seus dados** na variável train.

In [3]:
train = iris.drop(columns='species')
train.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

5) Armazene os dados de classes na variável classes.

In [7]:
classes = iris.species
classes.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

6) Utilizando o código abaixo, crie uma função que faça o **calculo da distância euclidiana entre dois vetores**.

In [8]:
# Função que retorna a distância eucludiana de dois vetores de duas dimensões.
from sklearn.neighbors import DistanceMetric
def calcula_distancia(x,c):
    dist = DistanceMetric.get_metric('euclidean')
    return dist.pairwise(x,c)

7) Utilizando a função **calcula_distancia**, faça:

- Calcule a distância entre os vetores **v1 e v2** abaixo
> v1 = [[1.2,1,2.1,1]]<br>
> v2 = [[1,1.9,5.4,3.2]]

In [10]:
v1 = [[1.2,1,2.1,1]]
v2 = [[1,1.9,5.4,3.2]]

d1 = calcula_distancia(v1,v2)

In [11]:
d1

array([[4.07185461]])

- Calcule a distância entre os vetores **v3 e v4** abaixo e explique o retorno
> v3 = [[0.5,0,2.1,1.5]]<br>
> v4 = [[0.5,0,2.1,1.5]]

In [12]:
v3 = [[0.5,0,2.1,1.5]]
v4 = [[0.5,0,2.1,1.5]]

d2 = calcula_distancia(v3, v4)

In [13]:
d2

array([[0.]])

8) Instancie o algoritmo Kmeans com o número de clusters **igual ao número de classes** da sua base de dados e execute o algoritmo KMeans.

In [14]:
kmeans = KMeans(n_clusters=3, init='random')

In [16]:
kmeans.fit(train)

KMeans(algorithm='auto', copy_x=True, init='random', max_iter=300, n_clusters=3,
       n_init=10, n_jobs=None, precompute_distances='auto', random_state=None,
       tol=0.0001, verbose=0)

09) Imprima os valores dos **centroides**.

In [17]:
kmeans.cluster_centers_

array([[6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097]])

10) Selecione **três amostras da base de dados e calcule a distância euclidiana entre as amostras de dados e cada um dos valores de centroides**.

In [29]:
for i in range(1, 4):
  vetor = train.head(i).values

In [30]:
vetor

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2]])

In [32]:
dist_euclidiana = calcula_distancia(vetor, kmeans.cluster_centers_)
dist_euclidiana

array([[3.41925061, 0.14135063, 5.0595416 ],
       [3.39857426, 0.44763825, 5.11494335],
       [3.56935666, 0.4171091 , 5.27935534]])

11) Gere a **tabela de distância** e verifique os valores através do método fit_transform().

In [57]:
kmeans.fit_transform(train)[:3] #Verificando apenas os valores das 3 primeiras amostras

array([[3.41925061, 5.0595416 , 0.14135063],
       [3.39857426, 5.11494335, 0.44763825],
       [3.56935666, 5.27935534, 0.4171091 ]])

12) Utilizando o método **predict()**, defina novos valores de dados e faça a predição.

In [59]:
dados_novos = [
        [4.8, 3.9, 1.7, 0.2],
        [5.8, 2.9, 5.0, 2.1],
        [6.5, 2.8, 3.7, 1.9]       
      ]

In [60]:
kmeans.predict(dados_novos)

array([2, 0, 0], dtype=int32)