<a href="https://colab.research.google.com/github/brunatoloti/data-science-do-zero/blob/main/Machine%20Learning/KNN/knn_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Machine Learning - KNN



*   Algoritmo supervisionado

Importando bibliotecas

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

Primeiramente, usaremos a base de dados **iris**.
Então, importando a base de dados **iris**.

In [ ]:
iris = sns.load_dataset('iris')

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Dividindo os dados em treino e teste

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(iris.drop(columns = 'species'), iris['species'], test_size=0.3)

Verificando a forma dos dados

In [ ]:
X_train.shape, X_test.shape

((105, 4), (45, 4))

In [ ]:
y_train.shape, y_test.shape

((105,), (45,))

Instanciando o algoritmo KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

Treinando o algoritmo

In [ ]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

Executando o KNN com o conjunto de teste

In [ ]:
resultado = knn.predict(X_test)
resultado

array(['setosa', 'setosa', 'setosa', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'versicolor', 'setosa', 'setosa', 'versicolor', 'setosa',
       'virginica', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'setosa', 'setosa', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'virginica', 'virginica',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'virginica', 'setosa', 'setosa'], dtype=object)

Executando novas amostras

In [ ]:
nova_amostra = np.array([[5.1, 3.5, 1.4, 0.2]])
knn.predict(nova_amostra), knn.predict_proba(nova_amostra)

(array(['setosa'], dtype=object), array([[1., 0., 0.]]))

###Técnicas de Validação

Matriz de Confusão

In [ ]:
print(pd.crosstab(y_test, resultado, rownames=['Real'], colnames=['Predito'], margins=True))

Predito     setosa  versicolor  virginica  All
Real
setosa          18           0          0   18
versicolor       0          16          0   16
virginica        0           0         11   11
All             18          16         11   45

Métricas de Classificação

In [ ]:
from sklearn import metrics
print(metrics.classification_report(y_test, resultado, target_names = iris['species'].unique()))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        18
  versicolor       1.00      1.00      1.00        16
   virginica       1.00      1.00      1.00        11

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45